.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* CSS Chapter 4 */
.App {
  font-family: Helvetica !important;
  scroll-behavior: smooth;
}
h2 {
  font-size: 24px !important;
  font-weight: bold !important;
}
.imageSquare {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  object-fit: cover;
}
/* .box {
  width: 400px;
  height: 10px;
} */
.cardProperty {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 4px 4px 6px;
  width: 100%;
}
.btnFilterOff {
  border-radius: 16px;
  border: 0px;
  background-color: #e2d4f0;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
}

.btnFilterOff:hover {
  background-color: #4b1979;
  color: white;
}

.btnFilterOn {
  border-radius: 16px;
  border: 0px;
  background-color: #4b1979;
  color: white;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
}

.btnFilterOn:hover {
  background-color: #e2d4f0;
  color: black;
}
.search-box {
  background: #eeeeee !important;
  border-radius: 8px;
  height: 38px;
  width: 260px;
  border: 1px;
  color: #000000;
}
.searchbut {
  background: #eeeeee !important;
  border-radius: 16px;
  height: 38px;

  border: 1px;
  color: #000000;
}
.bg-aliceblue {
  background-color: #f1f3ff;
  color: #000000 !important;
}
.bg-button {
  background-color: #7126b5 !important;
  border-radius: 12px;
  color: #ffffff !important;
}
.card {
  font-weight: 300;
  font-size: 15px;
  color: #b0b0b0;
  margin-top: 10px;
  margin-bottom: 2px;
}
.bg-button-edit {
  border: 1px solid #7126b5;
  border-radius: 8px;
  color: black !important;
  background-color: transparent !important;
  transition: all 0.2s ease-in-out;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 12px;
}

.bg-button-footer {
  background-color: #7126b5 !important;
  border-radius: 12px;
  color: #ffffff !important;
  width: 80px;
}
.bg-primary-darkpurple {
  background-color: #4b1979;
  height: 28px;
}
.btn-filter-size {
  border-radius: 16px;
  border: 0px;
  background-color: #e2d4f0;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
}

.btn-filter-size:hover {
  background-color: #4b1979 !important;
  color: white;
}

.btn-primary {
  background-color: #e2d4f0;
  color: #000000;
  border-color: #7126b5;
}
.our-service-checklist {
  width: 40px;
  height: 40px;
}
.kategoriActive {
  color: #7126b5;
  cursor: pointer;
}

.kategoriActive:hover {
  color: #4b1979;
}
.infoPenjual {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 16px;
}

.navbar-icon {
  content: none;
  width: 65px;
  margin-left: 5px;
  background-color: white;
  border: 0px;
  color: black !important;
  box-shadow: 0px !important;
}

.navbar-icon:hover {
  background-color: white;
  color: black !important;
  border: 0px;
  box-shadow: 0px !important;
}

.navbar-icon:after {
  background-color: white !important;
  color: black !important;
  border: 0px !important;
  box-shadow: 0px !important;
}
.imgAdd {
  box-sizing: border-box;

  /* Auto layout */
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 16px;

  width: auto;
  height: 290px;

  background: #ffffff;
  /* Neutral/02 */

  border: 1px dashed #d0d0d0;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
}
.kategori {
  color: black;
  cursor: pointer;
}
.scroller {
  overflow-y: scroll;
  height: 400%;
}
.kategori :hover {
  color: #4b1979 !important;
}
.kategori:active {
  color: #4b1979 !important;
}
.btnFilterOff {
  border-radius: 16px;
  border: 0px;
  background-color: #e2d4f0 !important;
  box-shadow: none !important;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
}

.btnFilterOff:hover {
  background-color: #4b1979 !important;
  color: whtie;
}

.btnFilterOn {
  border-radius: 16px;
  border: 0px !important;
  box-shadow: none !important;
  background-color: #4b1979 !important;
  color: white;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
}

.btnFilterOn:hover {
  background-color: #e2d4f0 !important;
  color: black;
}
.kategoriActive {
  color: #7126b5;
  cursor: pointer;
}

.kategoriActive:hover {
  color: #4b1979;
}

.kategoriInActive {
  color: black;
  cursor: pointer;
}

.kategoriInActive:hover {
  color: #7126b5;
}

@media screen and (max-width: 991px) {
  .filter {
    overflow-x: scroll;
  }
}

/* END CSS Chapter 4 */
