/* navbar */
.box {
  width: 100px;
  height: 34px;
  background-color: rgba(75, 25, 121, 1);
}

.blank-navV2 {
  box-shadow: 0 2px 10px rgb(177, 176, 176);
}
.image-profile {
  width: 48px;
  height: 48px;
  object-fit: cover;
  background-repeat: no-repeat;
}
.home-nav form input {
  width: 444px;
  border-radius: 16px;
  padding: 7px 12px;
}
.buttonStyleV2 {
  border: 1px solid #f32424;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 16px;
  padding: 9px 0;
}
.buttonStyleV2:hover {
  border: 1px solid #f32424;
  background-color: #f32424 !important;
  color: white !important;
  border-radius: 16px;
  padding: 9px 0;
}
/* form info product */
.upload-product .upload-image-product {
  width: 18%;
  position: relative;
  padding: 30px 33px;
  border-radius: 12px;
  overflow: hidden;
}

.upload-product .upload-image-product input[type="file"] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(5);
  opacity: 0;
}

.form-info-product h5 {
  display: none;
}
.form-info-product form .form-body {
  transform: translate(55%);
}

.imgSmall {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.image-upload > input {
  display: none;
}

.image-preview {
  width: 126px;
  height: 126px;
  object-fit: cover;
  cursor: pointer;
  background-repeat: no-repeat;
}

.boxPreview {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 20px;
  width: 100%;
}
.boxCarousel {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-bottom: 20px;
}
.boxImagePreview {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.btnPrimary {
  border-radius: 16px;
  border: 0px;
  color: white;
  background-color: #4b1979;
  padding: 12px 24px;
}

.btnPrimary:hover {
  background-color: #3d1563;
}
.btnOutline {
  border-radius: 16px;
  border-color: #4b1979;
  color: black;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
}

.btnOutline:hover {
  background-color: #4b1979;
  color: white;
}
.btnOutline:after {
  background-color: #4b1979;
  color: white;
}
.imgProduct {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-repeat: no-repeat;
}
.imgProfile {
  width: 48px;
  height: 48px;
  object-fit: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1023px) {
  /* navbar */
  .box {
    display: none;
  }

  .blank-navV2 {
    display: none !important;
  }

  .form-info-product form {
    margin-top: 40px;
  }

  .form-info-product form .form-body {
    width: 100% !important;
    transform: translate(0);
  }

  .form-info-product form .upload-product .upload-image-product {
    width: 25%;
  }

  .form-info-product h5 {
    display: block;
  }

  .form-info-product a {
    left: 8px !important;
  }
}
