/* Navbar Offer
.info-offers {
  box-shadow: 0 2px 10px rgb(177, 176, 176);
} */

/* offers */
/* .offers-page.container {
  width: 55%;
}

.offers-page .product-offering {
  margin: 0 0 0 10%;
  width: 87%;
}

.offers-page .product-offering .card-buyer {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.offers-page .product-offering .card-buyer .buyer {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-top: 5px;
}

.offers-page .product-offering .card-buyer .buyer img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
}

.offers-page .product-offering .items-offering {
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.offers-page .product-offering .items-offering .first-div img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-top: 4px;
}

.offers-page .items-offering button {
  border: 1px solid rgba(113, 38, 181, 1);
  border-radius: 16px;
  font-weight: 500;
} */

.infoSeller {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 16px;
  width: 100%;
}
/* .offers-page .items-offering button:nth-child(1) {
  background-color: rgb(255, 255, 255);
  color: black;
}
.offers-page .items-offering button:nth-child(2) {
  background-color: rgba(113, 38, 181, 1);
} */
.cardProperty {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 4px 4px 6px;
  width: 100%;
}

.btnInfoPenawar {
  border: 1px solid #7126b5 !important;
  color: black !important;
  background-color: white !important;
  border-radius: 16px;
}
.btnInfoPenawar:hover {
  background-color: #7126b5 !important;
  color: white !important;
  border: 1px solid #7126b5 !important;
}

.btnInfoAccept {
  border: 1px solid #7126b5 !important;
  color: white !important;
  background-color: #7126b5 !important;
  border-radius: 16px;
}
.btnInfoAccept:hover {
  background-color: #591e91 !important;
  color: white !important;
  border: 1px solid #591e91 !important;
}
.edit-modal {
  width: 104%;
  border-radius: 30px !important;
  padding: 30px !important;
}

.title.modal-body {
  padding-top: 0px;
  font-weight: bold;
}
.forHeader {
  border-bottom: 0 none;
}
.imageSquare {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  object-fit: cover;
}
