.formLogReg {
  margin: 10vh 10vw;
}

.text-register {
  text-align: center;
}
.formCol {
  font-size: 14px;
}
.formText {
  border-radius: 16px !important;
}

.btnSubs {
  border-radius: 16px;
  border: 0px;
  color: white !important;
  background-color: #7126b5 !important;

  padding: 12px 24px;
}
.btnSubs:hover {
  background-color: #4b1979 !important;
}
.btnGoogle {
  border-radius: 16px;
  border-color: #4b1979 !important;
  color: black;
  background-color: transparent !important;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
}

.btnGoogle:hover {
  background-color: #4b1979 !important;
  color: white;
}
.text-register {
  text-align: center;
}
.image-input > input {
  display: none;
}
.uploadImageInput {
  border: 2px dashed #d0d0d0;
  border-radius: 16px;
  width: 126px;
  height: 126px;
  object-fit: cover;
  cursor: pointer;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .cover-image {
    display: none;
  }
}
.img-card {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
